.static button {
  opacity: 0.5;
  pointer-events: none;
}
.bootstrapped button {
  opacity: 1.0;
  pointer-events: auto;
}
.restricted .attalos-a {
  text-decoration: line-through;
  pointer-events: none;
}
form {
  padding: 0;
  margin: 1em;
}
a {
  margin: 1em;
}
input {
  margin: 0em 0.5em 0em 1em;
}
