// function over form

.static {
  button {
    opacity: 0.5;
    pointer-events: none;
  }
}

.bootstrapped {
  button {
    opacity: 1.0;
    pointer-events: auto;
  }
}

.authenticated {
  a {
  }
}

.restricted {
  .attalos-a {
    text-decoration: line-through;
    pointer-events: none;
  }
}

form {
  padding: 0;
  margin: 0;
}

.primary-anchors {
}

input, button {
  margin: 0em 1.5em 0em 0.5em;
}

.room {
}

html, body {
  height: 100%;
}

.room-input {
  padding: 0 1em 1em 1em;

  textarea {
    height: 4em;
    margin: 0 0 0 1em;
    padding: 0.5em;
    width: 70%;
  }

  button {
    min-height: 4em;
    line-height: 4em;
    margin: 0;
    padding: 0em 2em 0em 2em;

    float: left;
  }
}

pre {
  padding: 0.25em;
  background-color: #e0e0e0;
}

p {
  code {
    padding: 0.25em;
    background-color: #e0e0e0;
  }
}

.connect {
  margin: 1em;
}

.bootstrapped {
  .authenticated {
    .connect {
      display: none;
    }
  }
}

.bootstrapped {
  .restricted {
    .connect {
    }
  }
}

video {
  width: 320px;
  height: 240px;
  margin: 0 1em 1.5em 1em;
}
