// something

@import "node_modules/material-ui/src/less/scaffolding.less";

//Define a custom less file to override any variables defined in scaffolding.less
//@import "my-custom-overrides.less";

@import "node_modules/material-ui/src/less/components.less";

@import "grids.less";

form {
  margin-top: 1.5em;
  padding-left: 0.5em;
  padding-bottom: 1.0em;
}

.mui-paper > .mui-paper-container {
  height: auto;
}
